body {
    background-color: rgb(32, 33, 56);
}

.example-wrapper { 
    margin: 1em auto; 
    width: 95%;
    font: 18px/1.5 sans-serif;
    background-color: rgb(68, 68, 68);
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    width: 30%;
    margin-bottom: .5rem;
    background-color: rgb(177, 175, 175);
}

.product-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-body {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: large;
    cursor: pointer;
}

.product-description {
    font-size: small;
}

.product-footer {
    display: flex;
    margin-top: 2rem;
}

.product-price {
    margin-right: 1rem;
}

.product-discount {
    color:rgb(201, 40, 28)
}

.discount {
    text-decoration: line-through;
}

.product-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.product-footer {
    display: flex;
    justify-content: center;
}

.pagination-page {
    margin: 2rem;
    color: #fff;
    text-decoration: none;
}

.current-page {
    text-decoration: underline;
}